body {
  /* background: url(country-fondo.png); */
  /* background-color: wheat; */
  background: url("https://img.freepik.com/foto-gratis/diario-viaje-cartas-viejas-postales-pluma-nostalgico-fondo-vintage_154730-823.jpg?w=2000");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
