.container-act {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.table{
    display: flex;
    justify-content: space-between;
    /* border: solid 2px; */
    width: 60rem;
    /* color: aliceblue; */
    /* text-decoration: wavy; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background: url("https://static4.depositphotos.com/1001877/418/i/450/depositphotos_4184886-stock-photo-vintage-aged-old-paper.jpg") */
}