.cards{
    display: block;
    /* justify-content: space-between; */
    margin: 20px;
    width: 30rem;
    min-height: 4rem;
    border: solid 2px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url("https://us.123rf.com/450wm/123bogdan/123bogdan1009/123bogdan100900056/7814200-postal-vintage-en-blanco.jpg?ver=6");
    background-repeat: no-repeat;
    background-size: cover;
}

.namee{
   text-decoration:underline;
   font-size: large;

}

.one{
    display: flex;
    justify-content: space-around;
    font-size: large;
}

.fl{
    display: flex;
    justify-content: space-around;
}

.delete{
    margin: 5px;
    justify-content: center;
    color: white;
    background-color: red;
    border-radius: 5px;
    height: 2rem;
    width: 5rem;
}
.delete:hover{
    color: black;
}
.message{
    border: solid 2px rgb(85, 84, 84);
    background-color: white;
    border-radius: 2px;
    padding: 5px;
    text-align:center;
    text-decoration: none;
    justify-content: center;
    height: 8rem;
    width: 18rem;
}

#btn-delete{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(204, 1, 1);
    border-style: none;
    border-radius: 3px;
}

#btn-delete:hover{
    background-color: rgb(255, 0, 0);
    padding: 5px;
}