.contt{
    /* display: flex; */
  display: block;
    /* flex-direction: column; */
}

.container-creator{
    margin: 10% 30%;
    background-color: rgb(28, 136, 199);
    width: 30rem;
    height: 35rem;
}

@media (max-width: 390px) {
    .container-creator{
        margin: auto;
        width: 30rem;

    }
}
.showcountry{
    margin-top:10px;
    display:inline-flex;
    background-color: rgb(28, 136, 199);
    min-height: 4rem;
    width: 30rem;
}

#delete-count{
    color: aliceblue;
    background-color: red;

}
.show{
    display: flex;
    border-radius: 5px;
    margin: 5px;
    width: 90px;
    height: 50px;
    /* justify-content: space-around; */
    background-color: rgb(28, 136, 199);
    color: red
}

.elemet{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 130px;
    margin-top: 30px;
    /* margin-left: 60px; */
    font-size: large;
    width: 210px;
}

#agr{
    border-style: none;
    color: rgb(212, 163, 29);
}
#agr:hover{
    background-color: rgb(28, 136, 199);
}