.countries-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.countries-cont{
    display: block;
    justify-content: center;
}

@media (max-width: 375px) {
    /* .countries-container{
        width: 300%;

    } */
}
.filter {
    display: flex;
    flex-direction:row;
}

.btn{
    color:black;
    background-color:whitesmoke;
    border-radius: 10px;
}