.container-numbers{
    justify-content: space-between;

}

.numbers{
    border-radius:8px;
    color: whitesmoke;
    background-color: rgb(212, 163, 29);
}

.numbers:hover{
    background-color: rgb(28, 136, 199);
}